.Marketplace {
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
    min-height: 100rem;
    left: 0;
    top: 0;
    position: fixed;
}

.Admin {
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
}

.Profile {
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
}

.scrollable {
    height: calc(100vh - 50px);
    overflow-y: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    background-color: #1e2122;
    position: sticky;
    z-index: 100;
    top: 0px;
}

.header div {
    display: flex;
    text-align: center;
    height: 100%;
}

.header div a {
    text-align: center;
    border-radius: 5px;
    font-weight: 600;
    color: black;
    transition: 200ms;
}

.header div a svg {
    margin-top: 5px;
    display: block;
    width: 150px;
    height: 40px;
}

.header a:hover {
    background-color: #141617;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    background-color: #26282b;
}

.offerList {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}

.borderdDiv {
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: 200ms;
}

.borderdDiv:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 8px 12px;
}

.offerContainer {
    display: flex;
    justify-content: space-evenly;
    width: 300px;
    height: 450px;
    margin: 10px 5px;
}

.offer {
    cursor: pointer;
    display: inline;
    border-radius: 16px;
    height: 98%;
    width: 98%;
    transition: 200ms;
}

.offer:hover {
    height: 100%;
    width: 100%;
}

.offer .imgContainer {
    width: 100%;
    height: 300px;
    background-color: rgb(0, 0, 0);
}

.offer .imgContainer img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.offer .dataContainer {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 90%;
}

.offer h1 {
    display: inline;
    font-size: 20px;
}

.offer p {
    margin-bottom: 0px;
    margin-top: 5px;
    font-size: 16px;
}

.showcaseBackground {
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.339);
}

.showcase {
    display: flex;
    flex-direction: row;
    margin: auto auto;
    width: 100%;
    height: 100%;
    background-color: #26282b;

    .cover {
        width: 60%;
        height: 100%;
        background-color: #26282b;
        z-index: 5;
    }

    .body {
        overflow-y: auto;
        position: relative;
        display: block;
        width: 100%;
        height: calc(100vh - 50px);

        h1 {
            margin: 0px;
            font-size: 42px;
            font-weight: 600;
        }

        h2 {
            margin-top: 0px;
            margin-bottom: 50px;
            font-size: 20px;
            font-weight: 500;
        }

        h3 {
            margin: 0;
        }

        p {
            text-align: justify;
            margin-left: auto;
            margin-right: auto;
            width: 90%;
            height: 300px;
            font-size: 16px;
            font-weight: 400;
        }

        button {
            cursor: pointer;
            width: 300px;
            height: 75px;
            font-size: 24px;
            color: white;
            border-radius: 10px;
            border-width: 0px;
            background-color: rgb(49, 172, 49);
            font-weight: 600;
            transition: 200ms;
        }

        button:hover {
            background-color: rgb(36, 127, 36);
        }
    }
}

.showcase .imgContainer {
    position: relative;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.showcase .imgContainer .background {
    position: absolute;
    top: -5;
    left: 0;
    width: 110%;
    height: 110%;
    background-size: cover;
    background-position: center;
    filter: blur(6px);
    overflow: hidden;
    z-index: 0;
}

.showcase .imgContainer img {
    position: relative;
    margin: auto auto;
    z-index: 1;
    max-width: 100%;
    max-height: 100%;
}

.reviews {
    margin: auto;
    width: 90%;

    .review {
        display: inline-block;
        max-width: 90%;
        height: auto;
        background-image: linear-gradient(215deg, rgb(65, 65, 65), rgb(65, 65, 65));
        box-shadow: 0 0 0px 3px rgba(100, 100, 100);
        border-radius: 10px;
        padding: 2px;
        margin: 6px;
        border-bottom-left-radius: 0px;
        font-size: 16px;
        font-weight: 400;
        text-align: justify;
    }
}

.newReview {

    textarea {
        color: white;
        display: block;
        width: 350px;
        height: 100px;
        background-image: linear-gradient(215deg, rgb(65, 65, 65), rgb(65, 65, 65));
        box-shadow: 0 0 0px 3px rgba(100, 100, 100);
        border-radius: 10px;
        padding: 2px;
        margin: 10px auto;
        border-bottom-left-radius: 0px;
        font-size: 20px;
        font-weight: 400;
        text-align: justify;
        resize: none;
        border: none;
        background-color: transparent;
    }
}

.logIn {
    position: relative;
    display: block;
    margin: 150px auto auto auto;
    border-radius: 10px;
    width: 400px;
    height: 350px;
    text-align: center;
}

.logIn .cardHeader {
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 0px;
    height: 50px;
}

.logIn .cardHeader h1 {
    margin: auto auto auto auto;
    font-size: 16px;
    width: 332px;
    font-weight: 400;
    text-align: start;
}

.logIn .inputBox {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: start;
    width: 332px;
    margin-bottom: 25px;
    margin-top: 25px;
}

.logIn .inputBox input {
    width: 100%;
    height: 25px;
    border-radius: 4px;
    border-width: 1px;
    border-color: rgb(206, 212, 218);
    border-style: solid;
    background-color: transparent;
    font-size: 16px;
    font-weight: 400;
    padding: 6px;
    color: white;
    transition: 200ms;
}

.logIn .inputBox input:focus {
    border-color: #0060d4;
    outline: none;
    box-shadow: 0px 0px 1px 3px rgba(0, 96, 212, 0.5);
}

.logIn .inputBox label {
    display: block;
    margin: 0px;
    margin-bottom: 2px;
    text-align: start;
    font-size: 16px;
}

.logIn button {
    cursor: pointer;
    display: block;
    margin-left: 32px;
    margin-right: auto;
    margin-top: 24px;
    color: white;
    width: 344px;
    height: 38px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 400;
    border-width: 0px;
    background-color: rgb(0, 123, 255);
    transition: 200ms;
}

.logIn button:hover {
    background-color: #006da8;
}

.close {
    cursor: pointer;
    position: absolute;
    left: 5px;
    top: 5px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.30);
    height: 40px;
    width: 40px;
    z-index: 5;
    transition: 200ms;
}

.close:hover {
    background-color: rgba(0, 0, 0, 0.45);
}

.close svg {
    display: block;
    margin: auto;
    width: 60%;
}

.createOffer {
    width: 80vw;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

.createOffer input {
    width: 100%;
    height: 25px;
    border-radius: 4px;
    border-width: 1px;
    border-color: rgb(206, 212, 218);
    border-style: solid;
    background-color: transparent;
    font-size: 16px;
    font-weight: 400;
    padding: 6px;
    color: white;
    transition: 200ms;
}

.createOffer input:focus {
    border-color: #0060d4;
    outline: none;
    box-shadow: 0px 0px 1px 3px rgba(0, 96, 212, 0.5);
}

.createOffer .priceBox {
    text-align: center;
}

.createOffer .priceBox span {
    margin: 5px;
}

.createOffer .priceBox input{
    text-align: center;
    width: 100px;
    font-size: 22px;
}

.createOffer img {
    margin: 5px;
    max-width: 100px;
    max-height: 100px;
}

.createOffer .body {
    width: 90%;
    margin: auto;
}

.createOffer h3 {
    margin: 15px 0px 5px;
    font-size: 24px;
    text-align: start;
}

.createOffer button {
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
    color: white;
    width: 344px;
    height: 38px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 400;
    border-width: 0px;
    background-color: rgb(0, 123, 255);
    transition: 200ms;
}

.infoBox {
    display: none;
    background-color: #0000005f;
    position: absolute;
    top: 0px;
    z-index: 200;
    width: 100%;
    height: 300%;
    transition: 1s;
    color: black
}

.error {
    color: red;
    font-weight: 700;
}

.infoBox .borderdDiv{
    display: flex;
    margin: 220px auto;
    flex-direction: column;
    justify-content: space-around;
    height: clamp(160px, 25vw, 280px);
    width: clamp(200px, 25vw, 350px);
    background-color: white;
    font-size: clamp(14px, 25vw, 24px);;
    font-weight: 700;
}

.infoBox .checkMark{
    background-color: transparent;
    width: clamp(50px, 15vw, 125px);
    height: clamp(50px, 15vw, 125px);
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 4px 6px;
    margin-left: auto;
    margin-right: auto
}

.infoBox .checkMark svg {
    width: 100%;
    height: 100%;
}

.purchaseHistory {
    width: 80%;
    margin: auto;
    text-align: start;

    .borderdDiv {
        display: inline-block;
    }

    h2 {
        display: inline;
        margin: 10px 10px;
    }

    .list {
        display: flex;
        overflow-y: hidden;
        width: 100%;
        height: 350px;
        scroll-snap-type: x mandatory;
    }

    span {
        display: flex;
    }

    .offerContainer {
        margin-top: auto;
        margin-bottom: auto;
        width: 300px;
        height: 325px;
        flex: 0 0 auto;

        .imgContainer {
            height: 200px;
        }


        h1 {
            font-size: 16px;
        }

        p {
            font-size: 12px;
        }
    }
}